---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		Why Choose Medisafe?
		Medisafe is more than just a pill reminder app – it's your personal medication management assistant, focusing on convenience and innovation within medicine. We understand the challenges of managing multiple medications and strive to make your life easier and healthier. With Medisafe, you'll experience:

		Effortless medication tracking and organization
		Improved medication adherence
		Enhanced communication with healthcare providers
		Empowerment to take control of your health
	</p>
</Layout>
