
<section aria-label="Newest Photos">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-buttons="prev">&#8656;</button>
    <button class="carousel-button next" data-carousel-buttons="next">&#8658;</button>
    <ul data-slides>
        <li class="slide" data-active>
            <img src="/images/disoeganized.jpg" alt="Image #1 Placeholder">
        </li>
        <li class="slide">
            <img src="/images/pillorganizer.jpg" alt="Image #2 Placeholder">
        </li>
        <li class="slide">
            <img src="/images/pillcontainer.jpg" alt="Image #3 Placeholder">
        </li>
    </ul>
  </div>
</section>
 